@import "app";

a {
  text-decoration : none;
  color           : inherit;

  &:hover {
    color           : blue !important;
    text-decoration : none;
  }

  &:visited {
    color : grey;
  }
}

.preface {
  display     : block;
  background  : #F9F9F9;
  margin      : -20px -20px 10px;
  padding     : 0.5em 10px;
  font-weight : 500;
}

.conversation {
  display       : block;
  background    : #F9F9F9;
  margin        : 10px -10px;
  padding       : 0.5em 10px;
  font-weight   : 500;
  border-bottom : 5px solid gainsboro;
  border-top    : 5px solid gainsboro;
  position      : relative;
  overflow      : hidden;
}

.conversation:before, .conversation:after {
  content      : "";
  height       : 100%;
  position     : absolute;
  left         : 0;
  border-right : 5px solid gainsboro;
}

.conversation:before {
  bottom : 50%;
  right  : 0;
}

@media only screen and (max-width : map-get($grid-breakpoints, "sm")) {
  .conversation,
  .conversation:before,
  .conversation:after {
    border-width : 3px;
  }
}

//////////////////////////////////////////////////////////////////
/////////////////////////     post action     ///////////////////////////
//////////////////////////////////////////////////////////////////

.prompt {

  font-family : IRANSANS, sans-serif;
  direction   : rtl;

  .card-header {
    text-align : right
  }

}

.post-action {
  position   : absolute;
  left       : 20px;
  top        : 20px;
  font-size  : 25px;
  cursor     : pointer;
  width      : 40px;
  height     : 40px;
  text-align : center;
  transition : color 0.2s;

  &:hover {
    color : $theme-color;
  }
}

@media only screen and (max-width : map-get($grid-breakpoints, "sm")) {
  .post-action {
    font-size : 15px;
  }
}

.post-action-dropdown-menu {
  text-align : right;

  .dropdown-item {
    cursor : pointer;
    color  : black;
    &:active {
      background : #F7F7F7;
    }
  }
}

.chief-choice-item {
  cursor  : pointer;
  width   : 225px;
  display : inline-block;

  /* HIDE RADIO */
  [type=radio] {
    position : absolute;
    opacity  : 0;
    width    : 0;
    height   : 0;
  }

  /* IMAGE STYLES */
  [type=radio] + img {
    cursor : pointer;
  }

  /* CHECKED STYLES */
  [type=radio]:checked + img {
    box-shadow : 0 -1px 0 1px #F06;
  }

  [type=radio]:checked + img + .chief-choice-card-body {
    box-shadow : 0 0 0 1px #F06;
  }

  label {
    cursor  : pointer;
    margin  : 0;
    display : inline;

    .chief-choice-card-image {
      height : 150px;
    }

    .chief-choice-card-body {
      text-align  : right;
      text-align  : right;
      height      : 113px;
      font-size   : 15px;
      overflow    : hidden;
      padding     : 8px;
      line-height : 25px;
    }
  }
}

//////////////////////////////////////////////////////////////////
/////////////////////////     news     ///////////////////////////
//////////////////////////////////////////////////////////////////

.news {
  position      : relative;
  width         : 100%;
  margin-bottom : 20px;

  .news-header {
    @include title-style;
  }

  .news-body {
    position   : relative;
    width      : 100%;
    height     : 680px;
    background : white;
    overflow-y : auto;

    .news-body-item {
      border-radius : 0 !important;
      text-align    : right;
      cursor        : pointer;
      font-size     : 16px;
      padding       : 10px 10px;

      .time {
        background  : #E6E6E6;
        padding     : 1px 5px 1px 2px;
        margin-left : 5px;
        font-size   : 12px;
      }
    }

    @media only screen and (max-width : map-get($grid-breakpoints, "sm")) {
      .news-body-item {
        font-size : 13px;
      }
    }

  }

  .news-footer {
    background    : $theme-color;
    color         : white;
    text-align    : center;
    line-height   : 40px;
    font-size     : 15px;
    width         : 100%;
    cursor        : pointer;
    transition    : background-color 1s;
    margin-top    : 10px;
    font-weight   : 800;
    margin-bottom : 30px;
    &:hover {
      background : #FF0316;
    }
  }
}

.hot-news {
  margin-top : 20px
}

@media only screen and (max-width : 1500px) {
  .news-body-item {
    font-size : 15px;
  }
}

@media only screen and (max-width : map-get($grid-breakpoints, "lg")) {
  .news-body {
    height : auto !important;
  }
}

.hot-news-index {
  font-size     : 34px;
  position      : absolute;
  z-index       : 200;
  color         : white;
  right         : 0;
  border        : 2px solid white;
  border-radius : 50%;
  text-shadow   : 2px 2px 5px grey;
  width         : 55px;
  text-align    : center;
}

.hot-news-title {
  @include title-style;
}

//////////////////////////////////////////////////////////////////
/////////////////////////     post     ///////////////////////////
//////////////////////////////////////////////////////////////////

.post-main-header {
  font-family   : IRANSANS_BOLD, sans-serif;
  width         : 100%;
  background    : #FFF;
  margin-bottom : 5px;
  padding       : 20px 100px;
  min-height    : 165px;
  position      : relative;

  .post-main-title {
    direction     : rtl;
    width         : 100%;
    font-size     : 24px;
    line-height   : 48px;
    text-align    : right;
    margin-bottom : 55px;
  }
}

@media only screen and (max-width : map-get($grid-breakpoints, "sm")) {
  .post-main-header {
    .post-main-title {
      font-size   : 20px;
      line-height : 40px;
    }
  }
}

.post-likes-content {
  width       : 100%;
  height      : 40px;
  text-align  : right;
  line-height : 43px;

  .post-like-wrapper {

    .post-like-button {
      float       : left;
      cursor      : pointer;
      color       : green;
      height      : 100%;
      width       : 40%;
      background  : #F8FFF9;
      border      : none;
      line-height : 41px;
    }

    .post-like-count {
      float      : left;
      cursor     : pointer;
      height     : 100%;
      width      : 60%;
      background : #F8FFF9;
      border     : none;
      text-align : center;
    }

    .post-liked {
      background : green !important;
      color      : white !important;
    }

    &:hover {
      .post-like-button,
      .post-like-count {
        background : #9FFF8E;
      }
    }
  }

  .post-dislike-wrapper {

    .post-dislike-button {
      float       : left;
      cursor      : pointer;
      color       : red;
      line-height : 41px;
      height      : 100%;
      width       : 40%;
      background  : #FFF7F7;
      border      : none;
    }

    .post-dislike-count {
      cursor     : pointer;
      height     : 100%;
      width      : 60%;
      background : #FFF7F7;
      border     : none;
      text-align : center;
      float      : left;
    }

    .post-disliked {
      background : red !important;
      color      : white !important;
    }

    &:hover {
      .post-dislike-count,
      .post-dislike-button {
        background : #FFA38C;
      }
    }
  }

  .post-reported {
    background : red !important;
    color      : white !important;
  }

}

.post-details {
  text-align : center;
}

@media only screen and (max-width : map-get($grid-breakpoints, "sm")) {
  .post-details {
    font-size : 13px;
  }
}

@media only screen and (max-width : map-get($grid-breakpoints, "lg")) {

  .post-details {
    margin-top : 15px;
  }

  .post-side-block {
    margin-top : 15px;
  }

  .post-main-img {
    margin-top : 0;
  }

  .post-main-header {
    padding : 20px 50px;
  }

  .post-likes-content-parent {
    margin-top : 25px;

    .post-main-details {
      z-index : 1;
      top     : -45px;

      .post-main-author {
        margin-right : 15px;
      }

      .post-main-date {
        position     : absolute;
        margin-right : 50px;
      }
    }

  }
}

.post-main-img {
  width      : 100%;
  margin-top : -55px;
  box-shadow : 0 0 2px black;
}

.post-main-body {
  direction   : rtl;
  width       : 100%;
  margin-top  : 15px;
  background  : white;
  font-family : IRANSANS, sans-serif;
  padding     : 20px;
  text-align  : right;
  line-height : 36px;
  font-size   : 18px;
}

@media only screen and (max-width : map-get($grid-breakpoints, "sm")) {
  .post-main-body {
    line-height : 28px;
    font-size   : 14px;
  }
}

.tweet-author {
  font-size      : 14px;
  line-height    : 28px;
  padding-bottom : 0;
  a {
    float : right;
    img {
      height      : 35px;
      margin-left : 3px
    }
  }
}

//////////////////////////////////////////////////////////////////
/////////////////////////     card     ///////////////////////////
//////////////////////////////////////////////////////////////////

.post-news-card {
  font-size : 14px;
  margin    : 15px 0 0;

  a {
    color : inherit;

    &:hover {
      box-shadow : 0 0 10px grey;
    }

    &:visited {
      color : grey;
    }

    .card-body {
      height     : 120px;
      padding    : 0;
      direction  : rtl;
      text-align : right;
      position   : relative;
      background : white;

      img {
        width    : 35%;
        height   : 120px;
        position : absolute;
        right    : 0
      }

      .card-text {
        width    : 65%;
        padding  : 5px 10px;
        position : absolute;
        left     : 0;
      }

      @media only screen and (max-width : map-get($grid-breakpoints, "sm")) {
        .card-text {
          font-size : 12px;
        }
      }

    }
  }
}

//////////////////////////////////////////////////////////////////
///////////////////////     comment     //////////////////////////
//////////////////////////////////////////////////////////////////

.post-compose-comment-container {
  background : white;
  width      : 100%;
  margin-top : 15px;
  padding    : 15px;

  form {
    width       : 100%;
    font-family : IRANSANS, sans-serif;

    textarea {
      width      : 100%;
      height     : 100px;
      resize     : vertical;
      direction  : rtl;
      text-align : right;
      padding    : 7px;
    }

    button {
      font-size : 13px
    }

    @media only screen and (max-width : map-get($grid-breakpoints, "sm")) {
      textarea {
        font-size : 13px;
      }
      button {
        font-size : 10px
      }
    }

  }

}

.post-comment {
  position    : relative;
  min-height  : 120px;
  margin-top  : 15px;
  background  : white;
  font-family : IRANSANS, sans-serif;
  font-size   : 15px;
  line-height : 30px;
  text-align  : right;
  direction   : rtl;
  padding     : 10px;

  .post-comment-author {
    margin-right : 120px;;
    font-size    : 12px;
    font-style   : italic;
    color        : gray;
  }

  .post-comment-body {
    margin      : auto 115px 50px auto;
    font-size   : 17px;
    background  : #FCFCFC;
    padding     : 2px 5px;
    line-height : 34px;
  }

  .post-comment-user-avatar {
    height        : 100px;
    width         : 100px;
    border-radius : 50%;
    position      : absolute;
    right         : 10px;
    background    : url("/images/preloader.gif") #C3C3C3 center;
    top           : 10px
  }

  .post-comment-like-parent {
    height      : 30px;
    text-align  : left;
    line-height : 33px;
    position    : absolute;
    left        : 10px;
    bottom      : 10px;

    .post-comment-like-wrapper {

      .post-comment-like-button {
        cursor     : pointer;
        position   : absolute;
        left       : 0;
        color      : green;
        height     : 100%;
        width      : 30px;
        background : #F8FFF9;
        border     : none;
      }

      .post-comment-like-count {
        cursor     : pointer;
        height     : 100%;
        width      : 40px;
        background : #F8FFF9;
        border     : none;
        position   : absolute;
        left       : 30px;
        text-align : center;
      }

      .post-comment-liked {
        background : green !important;
        color      : white !important;
      }

      &:hover {
        .post-comment-like-button,
        .post-comment-like-count {
          background : #9FFF8E;
        }
      }
    }

    .post-comment-dislike-wrapper {

      .post-comment-dislike-button {
        cursor     : pointer;
        color      : red;
        position   : absolute;
        left       : 75px;
        height     : 100%;
        width      : 30px;
        background : #FFF7F7;
        border     : none;
      }

      .post-comment-dislike-count {
        cursor     : pointer;
        height     : 100%;
        width      : 40px;
        background : #FFF7F7;
        border     : none;
        position   : absolute;
        left       : 105px;
        text-align : center;
      }

      .post-comment-reported,
      .post-comment-disliked {
        background : red !important;
        color      : white !important;
      }

      &:hover {
        .post-comment-dislike-count,
        .post-comment-dislike-button {
          background : #FFA38C;
        }
      }
    }

    .post-comment-report {
      cursor     : pointer;
      height     : 100%;
      width      : 45px;
      background : #F7F7F7;
      border     : none;
      position   : absolute;
      left       : 150px;
      text-align : center;
      color      : red;
    }

    .post-comment-reply {
      cursor     : pointer;
      height     : 100%;
      width      : 45px;
      background : #F7F7F7;
      border     : none;
      position   : absolute;
      left       : 200px;
      text-align : center;
      color      : #7D7D7D;
    }

    .post-comment-toggle {
      cursor     : pointer;
      height     : 100%;
      width      : 45px;
      background : #F7F7F7;
      border     : none;
      position   : absolute;
      left       : 250px;
      text-align : center;
      color      : #7D7D7D;
    }
  }
}

@media only screen and (max-width : map-get($grid-breakpoints, "sm")) {
  .post-comment {
    font-size   : 13px;
    line-height : 26px;

    .post-comment-body {
      font-size   : 14px;
      line-height : 28px;
    }
  }
}

.post-comment-1 {
  width : 100%;
}

.post-comment-2 {
  width : 97%;
}

.post-comment-3 {
  width : 94%;
}

.post-comment-4 {
  width : 91%;
}

.post-comment-5 {
  width : 88%;
}

.post-comment-6 {
  width : 85%;
}

.post-comment-7 {
  width : 82%;
}

.post-comment-8 {
  width : 79%;
}

.post-comment-9 {
  width : 76%;
}

.post-comment-10 {
  width : 73%;
}

.post-comment-11 {
  width : 70%;
}

@media only screen and (max-width : map-get($grid-breakpoints, "md")) {
  .modal-content,
  .modal-body {
    padding : 0 !important;
  }

  .post-comment-body,
  .post-comment-author {
    margin-right : 90px !important;
  }

  .post-comment-user-avatar {
    height : 75px !important;
    width  : 75px !important;
  }

  .post-comment-2 {
    width : 98%;
  }

  .post-comment-3 {
    width : 96%;
  }

  .post-comment-4 {
    width : 94%;
  }

  .post-comment-5 {
    width : 92%;
  }

  .post-comment-6 {
    width : 90%;
  }

  .post-comment-7 {
    width : 88%;
  }

  .post-comment-8 {
    width : 86%;
  }

  .post-comment-9 {
    width : 84%;
  }

  .post-comment-10 {
    width : 82%;
  }

  .post-comment-11 {
    width : 80%;
  }

}

@media only screen and (max-width : map-get($grid-breakpoints, "sm")) {
  .post-main-header {
    padding : 10px 20px !important;
  }

  .post-comment-author, .post-comment-body {
    margin-right : 60px !important;
  }

  .post-comment-user-avatar {
    height : 50px !important;
    width  : 50px !important;
  }

  .post-main-date {
    display : none;
  }

}

@media only screen and (max-width : 400px) {
  .post-main-header {
    padding : 15px !important;
  }

  .post-comment-user-avatar {
    height : 30px !important;
    width  : 30px !important;
  }

  .post-comment-author {
    margin-right : 35px !important;
  }

  .post-comment-body {
    margin-right : 0 !important;
  }

}

.secondary-title {
  font-size   : 15px;
  display     : inline-block;
  line-height : 35px;
}

//////////////////////////////////////////////////////////////////
//////////////////////     instagram     /////////////////////////
//////////////////////////////////////////////////////////////////

.instagram-container {
  margin-top : -15px;
  max-width  : 1600px;

  .post-instagram-title {
    div {
      background    : $instagram-bg;
      font-weight   : 700;
      height        : 50px;
      width         : 100%;
      text-align    : right;
      padding-right : 10px;
      line-height   : 50px;
      font-size     : 20px;
      color         : white;
    }
  }

  .post-instagram-body {
    .row {
      width : 100%;
      .post-instagram-wrapper {
        position   : relative;
        cursor     : pointer;
        overflow   : hidden;
        margin-top : 20px;
        direction  : rtl;
        text-align : right;

        .post-layout {
          background : linear-gradient(to bottom, transparent 0%, #000 100%);
          position   : absolute;
          bottom     : 0;
          top        : 0;
          right      : 0;
          z-index    : 1;
          width      : 100%;
          height     : 100%;
        }

        .post-instagram-img {
          width           : 100%;
          height          : 260px;
          background-size : cover;
          background      : #C3C3C3 url("/images/preloader.gif") no-repeat center;
          transition      : transform 1s;
        }

        .post-instagram-caption {
          width       : 100%;
          z-index     : 2;
          position    : absolute;
          bottom      : 0;
          color       : white;
          padding     : 10px;
          line-height : 28px;
          font-size   : 14px;
        }

        .post-instagram-like-wrapper {
          position : absolute;
          z-index  : 2;
          top      : 0;
          left     : 0;
          .post-instagram-like {
            float       : left;
            min-width   : 45px;
            background  : rgba(0, 0, 0, 0.7);
            color       : white;
            line-height : 20px;
            font-size   : 13px;
            padding     : 5px 7px;
            &:hover {
              color       : green;
              font-weight : 700;
            }
            i {
              margin-right : 5px;
            }
          }
          .post-instagram-dislike {
            float       : left;
            min-width   : 45px;
            background  : rgba(0, 0, 0, 0.7);
            color       : white;
            line-height : 20px;
            font-size   : 13px;
            padding     : 5px 7px;
            &:hover {
              color       : red;
              font-weight : 700;
            }
            i {
              margin-right : 5px;
            }
          }
          .post-liked {
            background : green;
            color      : white !important;
          }
          .post-disliked {
            background : red;
            color      : white !important;
          }
        }

        .post-instagram-author {
          z-index     : 2;
          display     : block;
          position    : absolute;
          top         : 0;
          background  : rgba(0, 0, 0, 0.7);
          color       : white;
          line-height : 20px;
          font-size   : 13px;
          padding     : 5px 7px;
          transition  : background-color 0.7s;
          &:hover {
            color       : cyan !important;
            font-weight : 700;
          }
        }

        &:hover {
          .post-instagram-author {
            background : rgb(0, 0, 0);
          }
          .post-instagram-caption {
            //color : $theme-color;
            //font-weight : 450;
          }
          .post-instagram-img {
            transform : scale(1.05);
          }
        }

      }
    }
  }

  .tweets-container {
    .mt-1 {
      overflow : auto;
      height   : 820px;
      .last-tweets-item {
        margin-top    : 10px;
        border-radius : 0 !important;

        .card-body {
          padding : 15px;
        }

        a {
          color : #2C2C2C;
          &:hover {
            color : $theme-color !important;
          }
        }

        .tweet-author {
          padding-bottom : 0;
          a {
            float : right;
            img {
              height      : 35px;
              margin-left : 3px
            }
          }
        }

        .tweet-content {
          padding-top : 10px;
          text-align  : right;

          .tweet-toolbar {
            table-layout : fixed;
            width        : 100%;
            text-align   : center;
            font-size    : 14px;
            line-height  : 28px;
            background   : #FBFBFB;

            a {
              display : block;
            }

            .tweet-copy {
              padding     : 5px;
              line-height : 25px;
              i {
                color : dimgray
              }
            }

            .tweet-comment {
              padding : 5px;
            }

            .tweet-like {
              padding : 5px;
              &:hover {
                a {
                  color : green !important;
                }
              }
            }

            .tweet-dislike {
              padding     : 5px;
              line-height : 25px;
              &:hover {
                a {
                  color : red !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .post-instagram-footer {
    div {
      background  : $instagram-bg;
      height      : 50px;
      font-weight : 700;
      width       : 100%;
      text-align  : center;
      line-height : 50px;
      font-size   : 15px;
      color       : white;
      margin-top  : 20px;
      cursor      : pointer;
      transition  : background-color 0.5s;
      &:hover {
        background-color : #000;
      }
    }
  }

  @media only screen and (max-width : map-get($grid-breakpoints, "xl")) {
    .post-instagram-body {
      padding : 10px !important;
    }
    .post-instagram-img {
      height : 220px !important;
    }
    .tweets-container {
      padding : 10px !important;
    }
  }

  @media only screen and (max-width : map-get($grid-breakpoints, "lg")) {
    .post-instagram-img {
      height : 415px !important;
    }
  }

  @media only screen and (max-width : map-get($grid-breakpoints, "md")) {
    .post-instagram-img {
      height : 220px !important;
    }
    .tweets-container {
      .mt-1 {
        height : auto;
      }
    }
  }

  @media only screen and (max-width : map-get($grid-breakpoints, "sm")) {
    .post-instagram-body {
      padding : 0 !important;
    }
    .post-instagram-footer {
      padding : 0 !important;
      div {
        margin-top  : 10px;
        font-size   : 15px;
        line-height : 40px;
        height      : 40px;
      }
    }
    .post-instagram-title {
      div {
        font-size   : 17px;
        height      : 45px;
        line-height : 45px;
      }
    }
    .post-instagram-img {
      height : 375px !important;
    }
    .tweets-container {
      font-size : 14px;
    }
  }

  @media only screen and (max-width : 465px) {
    .post-instagram-img {
      height : 360px !important;
    }
  }

  @media only screen and (min-width : map-get($grid-breakpoints, "lg")) {
    .post-instagram-body-ajax {
      .row {
        .col-12 {
          max-width : 20% !important;
          flex      : 48 0 20% !important;
          .post-instagram-img {
            height : 285px !important;
          }
        }
      }
    }
  }
}

.tweet-toolbar {
  table-layout : fixed;
  width        : 100%;
  text-align   : center;
  font-size    : 14px;
  line-height  : 28px;
  background   : #FBFBFB;

  a {
    display : block;
  }

  .tweet-copy {
    padding     : 5px;
    line-height : 25px;
    i {
      color : dimgray
    }
  }

  .tweet-comment {
    padding : 5px;
  }

  .tweet-like {
    padding : 5px;
    &:hover {
      a {
        color : green !important;
      }
    }
  }

  .tweet-dislike {
    padding     : 5px;
    line-height : 25px;
    &:hover {
      a {
        color : red !important;
      }
    }
  }
}

@media only screen and (max-width : map-get($grid-breakpoints, "md")) {
  .tweet-toolbar {
    width : 100% !important;
  }
}

//////////////////////////////////////////////////////////////////
/////////////////////     related news     ///////////////////////
//////////////////////////////////////////////////////////////////

.post-related-news {
  width       : 100%;
  margin-top  : 15px;
  height      : 26px;
  text-align  : right;
  font-family : IRANSANS, sans-serif;
  line-height : 26px;
  font-size   : 13px;
  font-style  : italic;
  color       : #666;
}

.post-related-news-box-row {
  margin : 10px -5px auto;
  .post-related-news-box-col {
    padding : 0 5px;
    .post-related-news-box {
      font-family : IRANSANS, sans-serif;
      font-size   : 16px;
      line-height : 32px;
      text-align  : right;
      width       : 100%;
      margin-top  : 5px;
      height      : 70px;
      background  : white;
      p {
        padding            : 5px 10px 5px 5px;
        text-align         : right;
        direction          : rtl;
        overflow           : hidden;
        text-overflow      : ellipsis;
        display            : -webkit-box;
        -webkit-line-clamp : 2;
        -webkit-box-orient : vertical;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////
//////////////////     mention and hashtag     ///////////////////
//////////////////////////////////////////////////////////////////

.mention {
  color           : $theme-color !important;
  direction       : ltr;
  display         : inline-block;
  text-decoration : none !important;
  font-weight     : 500;
  background      : #EFEFEF73;
  padding         : 0 5px;
}

.hashtag {
  position        : relative;
  z-index         : 2;
  margin-left     : 5px;
  color           : $theme-color !important;
  text-decoration : none !important;
  font-weight     : 500;
  background      : #EFEFEF73;
  padding         : 0 5px 0 0;
}

//////////////////////////////////////////////////////////////////
/////////////////////     alertify js     ////////////////////////
//////////////////////////////////////////////////////////////////

.ajs-dialog {
  direction   : rtl;
  text-align  : right;
  font-family : IRANSANS;

  .ajs-commands {
    left  : 4px;
    right : auto;
  }

  .ajs-header {
    background : #F4F4F4;
  }

  .ajs-content {
    padding : 16px 0 16px 0 !important;
  }

  .ajs-footer {
    background : #F4F4F4;
  }
}